{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block title %}
    Checkout Page
{% endblock title %}

{% block content %}

<main class="mt-16">

    <nav class="p-3 flex bg-white justify-between items-center fixed top-0 left-0 right-0 z-20 shadow-md">
        <a href="/" id="brand" class="flex gap-2 items-center flex-1">
            <img class="object-cover max-w-12 max-h-12" src="{% static 'images/logo.jpg' %}" alt="Logo">            
            <span class="text-lg font-medium font-display">WorkWise</span>
        </a>
        <div id="nav-menu" class="hidden lg:flex gap-12 mt-2">
            <a href="/home" class="font-medium hover:text-primary">Home</a>
            <a href="/Cleaner" class="font-medium hover:text-primary">Cleaning</a>

        </div>
        
        {% if request.user.is_authenticated %}

            {% if user.socialaccount_set.all.0 %}
            <div class="hidden lg:flex flex-1 justify-end">
                    <h2 class=" font-medium flex items-center ">Welcome, {{ user.socialaccount_set.all.0.extra_data.name }}</h2>
                    <div class="w-4"></div>
                {% else %}
            <div class="hidden lg:flex flex-1 justify-end">
                <h2 class=" font-medium flex items-center ">{{ request.user.profile.first.full_name }}</h2>
                <div class="w-4"></div>
            {% endif %}

          
            <div class="w-4"></div>

                                
            <a href="/authentication/logout/">
                <button class="flex gap-2 items-center border border-gray-400 px-6 py-2 rounded-lg hover:border-gray-600">
                    <img src="{% static 'images/asset 1.svg' %}" alt="">
                    <span class="font-display font-medium">Logout</span>
                </button>
            </a>

            </div>


            
        {% else %}
        <div class="hidden lg:flex flex-1 justify-end">
        <a href="/authentication">
            <button class="flex gap-2 items-center border border-gray-400 px-6 py-2 rounded-lg hover:border-gray-600">
                <img src="{% static 'images/asset 1.svg' %}" alt="">
                <span class="font-display font-medium">Login / Sign Up</span>
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </a>
        </div>
        {% endif %}

        

        <button class="p-2 lg:hidden" onclick="handleMenu()">
            <i class="fa-solid fa-bars text-gray-600"></i>
        </button>

        {% comment "" %} for mobile{% endcomment %}

        <div id="nav-dialog" class="hidden fixed z-10 md:hidden bg-white inset-0 p-3">
            <div id="nav-bar" class="flex justify-between">
                <a href="/" id="brand" class="flex gap-2 items-center">
                    
                    <img class="object-cover max-w-12 max-h-12" src="{% static 'images/logo.jpg' %}" alt="Logo">
                    <span class="text-lg font-medium font-display">WorkWise</span>
                </a>
                <button class="p-2 md:hidden" onclick="handleMenu()">
                    <i class="fa-solid fa-xmark text-gray-600"></i>
                </button>
            </div>
            <div class="mt-6">
                <a href="/home" class="font-medium m-3 p-3 hover:bg-gray-50 block rounded-lg">Home</a>
                <a href="/cleaning" class="font-medium m-3 p-3 hover:bg-gray-50 block rounded-lg">Cleaing</a>
                

            </div>
            <div class="h-[1px] bg-gray-300"></div>
            <a href="/authentication">
            <button class="mt-6 w-full flex gap-2 items-center  px-6 py-4 rounded-lg hover:bg-gray-50">
                
                <img src="{% static 'images/asset 1.svg' %}" alt="">
                <span>Login</span>
            </button>
        </a>
        </div>

    </nav>

    <div class="container mx-auto mt-16  h-screen max-w-full">
        <div id="hero" class=" min-h-screen bg-gradient-to-b from-purple-50 via-orange-50 to-transparent mb-5">
            <div id="hero-container" class="mx-auto px-2 pt-6 pb-16 flex flex-col sm:items-center sm:text-center sm:pt-12 ">
                <h1 class="text-5xl mb-5 font-mono">Checkout Page</h1>

                <div class="container mx-auto ">    
                    <div class="my-4">
                        <h2 class="text-2xl font-semibold"> Step 1 - Review Your Cart </h2>
                    </div>

                    <div class="my-4">
                        <ul class="divide-y divide-gray-200 border rounded-lg" id="items"></ul>

                        <div class="bg-gray-100 p-3 mt-3 rounded-lg">
                            <p class="text-gray-700">
                                Your cart Total is <span class="font-bold">Rs.<span id="totalPrice">0</span></span>. Enter Your details below & click on the button to proceed to payment.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col my-4">
                    <div class="my-4">
                        <h2 class="text-2xl font-semibold"> Step 2 - Enter Address & Other Details </h2>
                    </div>
                    <form action="/checkout/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="itemJson" id="itemJson">
                        <input type="hidden" name="amt" id="amt">

                        <div>
                            <label for="name" class="block text-sm   font-medium text-gray-700 mt-4">Name</label>
                            <input type="text" id="name" name="name" required
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your Full Name" required>
                        </div>
                        <div>
                            <label for="addressline1" class="block text-sm font-medium text-gray-700 mt-4">Address Line 1</label>
                            <input type="text" id="addressline1" name="addressline1"
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your Address Line 1" required>
                        </div>

                        <div>
                            <label for="addressline2" class="block text-sm font-medium text-gray-700 mt-4">Address Line 2</label>
                            <input type="text" id="addressline2" name="addressline2"
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your Address Line 2" required>
                        </div>


                        <div>
                            <label for="City" class="block text-sm font-medium text-gray-700 mt-4">City</label>
                            <input type="text" id="City" name="City"
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your City" required>
                        </div>

                        <div>
                            <label for="state" class="block text-sm font-medium text-gray-700 mt-4">State</label>
                            <input type="text" id="state" name="state"
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your State" required>
                        </div>
                        
                        <div>
                            <label for="pincode" class="block text-sm font-medium text-gray-700 mt-4">Pincode</label>
                            <input type="text" id="pincode" name="pincode"
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your Pincode" required>
                        </div>

                        <div>
                            <label for="phoneno" class="block text-sm font-medium text-gray-700 mt-4">Phone No.</label>
                            <input type="text" id="phoneno" name="phoneno"
                                class="mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 focus:border-blue-400 outline-none"
                                placeholder="Enter your Phone No." required>
                        </div>



                        <button type="submit"
                            class="w-full mt-3 p-3 bg-[#69b5a9] text-white font-medium rounded-lg hover:bg-[#4cb3a4] transition">Place Order</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let cart = localStorage.getItem("cart") ? JSON.parse(localStorage.getItem("cart")) : {};
        let totalPrice = 0;
        let itemsContainer = document.getElementById("items");
        
        if (Object.keys(cart).length === 0) {
            itemsContainer.innerHTML = "<h2 class='text-2xl font-semibold'>Your Cart is Empty</h2>";
        } else {
            itemsContainer.innerHTML = `
                <li class="bg-gray-100 font-semibold p-4 flex items-center">
                    <div class="flex-1 text-left">Service Name</div>
                    <div class="flex-1 text-center">Price</div>
                    <div class="flex-1 text-right">Quantity</div>
                </li>
            `;

            for (let item in cart) {
                let itemId = item.slice(2);
                fetch(`/get_service_details/${itemId}/`)
                    .then(response => response.json())
                    .then(data => {
                        let qty = cart[item];
                        let price = data.price;
                        let name = data.name;
                        let itemTotal = qty * price;
                        totalPrice += itemTotal;
                        
                        let listItem = document.createElement("li");
                        listItem.classList.add("flex", "items-center", "justify-between", "py-2", "px-2", "hover:bg-gray-50", "text-sm");
                        listItem.innerHTML = `
                            <div class="flex-1 text-left">${name}</div>
                            <div class="flex-1 text-center">Rs.${price}</div>
                            <div class="flex-1 text-right">Qty: ${qty}</div>
                        `;
                        itemsContainer.appendChild(listItem);
                        document.getElementById("totalPrice").textContent = totalPrice;
                    })
                    .catch(error => console.error('Error:', error));
            }
        }
    });


</script>
{% endblock js %}
