{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock title %}


{% block content %}
    <div class="min-h-screen bg-gradient-to-b from-purple-50 via-orange-50 to-transparent""></div>
        {% block messages %}
                    {% for message in messages %}
                    <div class="relative px-4 py-3 mb-4 border rounded-lg {% if 'error' in message.tags %}bg-red-100 border-red-400 text-red-700{% elif 'success' in message.tags %}bg-green-100 border-green-400 text-green-700{% elif 'warning' in message.tags %}bg-yellow-100 border-yellow-400 text-yellow-700{% elif 'info' in message.tags %}bg-blue-100 border-blue-400 text-blue-700{% else %}bg-gray-100 border-gray-400 text-gray-700{% endif %}" role="alert">
                        <strong class="font-bold">{{message}}</strong>
                        <button class="absolute top-0 right-0 px-4 py-3 hover:opacity-75" onclick="this.parentElement.remove()">
                            <svg class="w-4 h-4 fill-current" role="button" viewBox="0 0 20 20">
                                <path d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    {% endfor %}
                    {% endblock %}
    
{% endblock  %}
