{% extends "base.html" %}
{% load static %}

{% block title %}
Payment Gateway
{% endblock title %}

{% block content %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script type="text/javascript">
    var options = {
        "key": "KEY", // ADD ROZARPAY KEY HERE
        "amount": "{{ price|floatformat:2 }}00", 
        "currency": "INR",
        "name": "WorkWise",
        "description": "Transaction",
        "image": "{% static 'images/logo.jpg' %}",
        "order_id": "{{ order_id }}", 
        "handler": function(response){
            fetch('/verify/', {  
                method: 'POST',
                body: JSON.stringify(response),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' 
                }
            }).then(response => response.json()).then(data => {
                window.location.href = "/";
            }).catch(error => {
                console.error("Error verifying payment:", error);
            });
        },

        "modal": {
            "ondismiss": function(){
                window.location.href = "/";
            }
        },

        "prefill": {
            "name": "Customer Name",
            "email": "abc@12gmail.com",
            "contact": "1234567890"
        },

        "theme": {
            "color": "#3399cc"
        }
    };

    var rzp1 = new Razorpay(options);
    rzp1.open();

    localStorage.clear();
</script>

<div class="container mx-auto px-4 h-screen max-w-full">
    <div id="hero" class="min-h-screen bg-gradient-to-b from-purple-50 via-orange-50 to-transparent mb-5">
        <div id="hero-container" class="mx-auto px-2 pt-6 pb-16 flex flex-col sm:items-center sm:text-center sm:pt-12 ">
            <h1 class="text-5xl mb-5 font-mono">Redirecting To the Payment Page ......</h1>
        </div>
    </div>
</div>
{% endblock content %}
